[ng-cloak]{
  display: none !important;
}

.avatar {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 25px;
  height: 25px;
  background-size: cover;
}

#messages {
  height: 250px;
  overflow-y: scroll;
}